In [5]:
import os
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = "../data/dexcomData.csv"

In [6]:
glucose = pd.read_csv(file)

In [7]:
glucose.head()

   Blood Glucose (mg/dL)  Rate (mg/dL/min)            Timestamp
0                  206.0               0.4  2018-10-27 21:27:07
1                  205.0               0.3  2018-10-27 21:22:07
2                  203.0               0.1  2018-10-27 21:17:07
3                  202.0               0.1  2018-10-27 21:12:07
4                  202.0               0.1  2018-10-27 21:07:07

In [14]:
glucose.tail(5)

       Blood Glucose (mg/dL)  Rate (mg/dL/min)            Timestamp
73521                   61.0              12.7  2017-09-11 22:41:59
73522                   70.0              12.7  2017-09-11 22:36:58
73523                   69.0               0.6  2017-09-11 22:31:59
73524                   78.0               1.2  2017-09-11 22:26:59
73525                   72.0               0.8  2017-09-11 22:22:07

In [15]:
data = df.values
X = data[:, 0:2]
y = data[:, 2]

In [16]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)