In [2]:
import pandas as pd
import json

In [20]:
bg_mmol = []
bg_mg = []
bg_units = []
timestamps = []


with open("blip-input-abbott.json") as json_file:
    data = json.load(json_file)
    for record in data:
        if "value" in record.keys():
            bg_mmol.append(record["value"])
            bg_mg.append(round(record["value"] * 18)) # Convert to mg/dl by multiplying mmol/L by 18
            bg_units.append(record["units"])
            timestamps.append(record["time"])
            
cgm_df = pd.DataFrame({
    "Blood Glucose (mmol/L)" : bg_mmol,
    "Blood Glucose (mg/dL)" : bg_mg,
    "Original Units" : bg_units,
    "Timestamp" : timestamps
})

In [21]:
cgm_df.head()

,Blood Glucose (mmol/L),Blood Glucose (mg/dL),Original Units,Timestamp
0,2.22030,40,mmol/L,2019-05-07T05:24:21.000Z
1,2.88639,52,mmol/L,2019-05-07T04:56:21.000Z
2,3.33045,60,mmol/L,2019-05-07T04:41:21.000Z
3,3.77451,68,mmol/L,2019-05-07T04:26:21.000Z
4,4.21857,76,mmol/L,2019-05-07T04:11:21.000Z

In [22]:
cgm_df['Blood Glucose (mmol/L)'].describe()

count    1869.000000
mean        9.439895
std         3.969874
min         2.220300
25%         6.327850
50%         9.436270
75%        12.267150
max        21.203860
Name: Blood Glucose (mmol/L), dtype: float64

In [23]:
cgm_df['Blood Glucose (mg/dL)'].describe()

count    1869.000000
mean      170.065276
std        71.519625
min        40.000000
25%       114.000000
50%       170.000000
75%       221.000000
max       382.000000
Name: Blood Glucose (mg/dL), dtype: float64

In [24]:
cgm_df["Original Units"].unique()

array(['mmol/L'], dtype=object)

In [25]:
# TODO: Convert Timestamp to readable format for visualizations (Tableau)

In [27]:
cgm_df.to_csv("abbottData.csv", index=False)